#-----Ignore everything

*

#-----!Except these dirs

#-----!Except these files

!assert.rb
!build_image.rb
!check_my_dependency.rb
!check_required_files_exist.rb
!dir_names.rb
!docker_login.rb
!logger.rb

!spike-curl-run.sh