#-----Ignore everything

*

#-----!Except these dirs

#-----!Except these files

!build_image.rb

!image_builder.rb
!dependencies.rb
!dockerhub.rb
!http_service.rb
!runner_service_statefull.rb
!runner_service_stateless.rb

