#-----Ignore everything

*

#-----!Except these dirs

#-----!Except these files

!inner_main.rb

!all_avatars_names.rb
!assert_system.rb
!dir_get_args.rb
!dockerhub.rb
!http_json_service.rb
!image_builder.rb
!runner_service_statefull.rb
!runner_service_stateless.rb

